<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Recipe App</a>
    </div>
  </nav>
</header>

<main>
  <div class="row">
    <div class="col-sm-4">

      <div *ngIf="recipes">
      <ul class="list-group recipe-list">
        <li class="list-group-item"
          *ngFor="let recipe of recipes"
          (click)="selectRecipe(recipe)"
          [class.active]="recipe === activeRecipe">
          {{ recipe.name }} ({{ recipe.id }})
        </li>
      </ul>
      </div>

      <recipe-form (recipeCreated)="onRecipeCreated($event)"></recipe-form>

    </div>
    <div class="col-sm-8">

      <recipe-details [recipe]="activeRecipe"></recipe-details>

      <div class="jumbotron" *ngIf="!activeRecipe">
        <span class="glyphicon glyphicon-hand-left"></span>
        <h2>Choose a Recipe</h2>
      </div>

    </div>
  </div>      
</main>

<footer class="text-center">
  Copyright &copy; 2017
</footer>