 <div class="jumbotron" *ngIf="recipe">
    <h2>{{ recipe.name }} <small>{{ recipe.id }}</small></h2>
  
    <div *ngIf="recipe.ingridients">
        <ul class="list-group ingridients-list">
        <li class="list-group-item"
            *ngFor="let ingridient of recipe.ingridients">
            <span>{{ingridient.foodType}} ({{ingridient.amount}} {{ingridient.unit}})</span>
            <div *ngIf="recipe.ingridients">Cooking methods: 
                <span *ngFor="let cm of ingridient.cookingMethods; let isLast=last">
                    {{cm}}{{isLast ? '' : ', '}}
                </span>    
            </div>
        </li>
        </ul>
    </div>

    <h4>Add more ingridients</h4>   
    <add-ingridient-form [recipe]="recipe"></add-ingridient-form>
</div>