<form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{ 'has-error': foodType.invalid && foodType.touched }">
        <label for="foodType">Food type:</label>
        <select [(ngModel)]="newIngridient.foodType" #foodType="ngModel" class="form-control"
            name="foodType" required>
            <option *ngFor="let foodType of foodTypes" [ngValue]="foodType">
                {{foodType}}
            </option>
        </select>

        <div *ngIf="foodType.invalid && foodType.touched" class="help-block">
            FoodType is required
        </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': amount.invalid && amount.touched }">
        <label for="amount">Amount:</label>
        <input type="number" class="form-control" placeholder="Amount" name="amount" placeholder="Amount" required
            [(ngModel)]="newIngridient.amount" #amount="ngModel" min="1">

        <div *ngIf="amount.invalid && amount.touched" class="help-block">
            Amount is required
        </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': foodType.invalid && foodType.touched }">
        <label for="unit">Unit:</label>
        <select [(ngModel)]="newIngridient.unit" #unit="ngModel" class="form-control"
            name="unit" required>
            <option *ngFor="let unit of units" [value]="unit">{{unit}}</option>
        </select>
        <div *ngIf="unit.invalid && unit.touched" class="help-block">
            Unit is required
        </div>
    </div>

    <div class="form-group">
        <label for="cookingMethods">Cooking methods:</label>
        <select multiple class="form-control" [(ngModel)]="newIngridient.cookingMethods" 
            name="cookingMethods" required>
            <option *ngFor="let cm of cookingMethods" [value]="cm">{{cm}}</option>
        </select>
        <div *ngIf="cookingMethods.invalid && cookingMethods.touched" class="help-block">
            Cooking method is required
        </div>
    </div>

    <button type="submit" class="btn btn-lg btn-block btn-primary" [disabled]="form.invalid">
        Add Ingridient
    </button>

</form>