<form #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="active">
    <div class="form-group" [ngClass]="{ 'has-error': id.invalid && id.touched }">
        <input type="number" class="form-control" name="id" placeholder="Id" required
            [(ngModel)]="newRecipe.id" #id="ngModel">

        <span class="help-block" *ngIf="id.invalid && id.touched">Id is required.</span>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': name.invalid && name.touched }">
        <input type="text" class="form-control" name="name" placeholder="Name" required
            [(ngModel)]="newRecipe.name" #name="ngModel">

        <span class="help-block" *ngIf="name.invalid && name.touched">Name is required.</span>
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" name="bigAmount" [(ngModel)]="newRecipe.bigAmount" #bigAmount="ngModel">
            Is big amount?
        </label>
    </div>

    <button type="submit" class="btn btn-lg btn-block btn-primary" [disabled]="form.invalid">
    Create Recipe
    </button>

</form>